table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
th,td{
    height: 30px;
    border: 1px solid #dddddd;
    text-align: center;
}

.avatar{
    height: 30px;
    width: 40px;
}
